@import url('https://fonts.googleapis.com/css?family=VT323');

* {
    font-family: 'VT323', monospace;
    background-color: #033572;
    color: white;
    text-align: center;
}
h1{
    font-size: 100px;
}
h2 {
    font-size: 75px;
}
.part {
    display: inline-block;
    height: 50px;
    width: 30px;
    border-radius: 30%;
    margin-left: -15px;
}
.strawberry {
    background: red;
}
.orange {
    background: orange;
}
.banana {
    background: yellow;
}
.kiwi {
    background: green;
}
.raspberry {
    background: cyan;
}
.grape {
    background: indigo;
}